# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\noell\OneDrive\Documents\School\Year 5\Winter 2022\SYSC 4806\Labs\AddressBook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
